@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fontsource/poppins";
@import './custom.css';

/* GLOBAL STYLES */

:root {
    --primary-color: #ececec;
    --secondary-color: #1237cc;
    --tertiary-color: #000;
    --primary-font: Poppins, 'sans-serif';
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

button {
    border: none !important;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    font-weight: bold;
}

.btn-secondary {
    background-color: transparent !important;
    color: var(--tertiary-color) !important;
    font-weight: bold;
}

input {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    padding-bottom: 0.5rem !important;
    box-shadow: none !important;
    background: transparent !important;
    transition: border-bottom-color 0.3s ease-in-out !important;
    margin-top: -5px !important;
}

.form-control {
    padding: 8px 1px;
}

textarea {
    padding: 8px 10px !important;
}
